In [ ]:
#!pip install psycopg2

### 1. Create an engine that connects to PostgreSQL server

In [47]:
# Import necessary packages
import numpy as np
import pandas as pd
from sqlalchemy import create_engine, inspect

# Pass the connection string to a variable, conn_url
conn_url = 'postgresql://postgres:123@localhost/NYC311'

# Create an engine that connects to PostgreSQL server
engine = create_engine(conn_url)

# Establish a connection
connection = engine.connect()

### 2. Create 15 necessary tables to organize data

In [48]:
stmt = """
Create table Agency(
 Agency_id SERIAL,
 Agency_name char(50),
 Agency_type char(20),
primary key(Agency_id)
);


Create table Complaint(
 Complaint_id SERIAL,
 Complaint_Type char(50),
 Descriptor char(50),
 Status char(20),
primary key(Complaint_id)
);


Create table Agency_Complaint(
 Agency_id INT,
 Complaint_id INT,
 Agency_Name char(50),
 Complaint_Type char(50),
primary key(Agency_id,Complaint_id),
foreign key(Complaint_id) references Complaint(Complaint_id));


Create table Resolution(
 Resolution_id SERIAL,	
 Complaint_id INT,	
 Due_Date_Status char(50),	
 Resolution_Action_Updated_Date date,
 Resolution_Description char(50),
primary key(Resolution_id),
foreign key(Complaint_id) references Complaint(Complaint_id));


Create table Service_Request(
 Unique_Key varchar(50),
 Open_data_channel_type char(20),
 Created_date date,
 Closed_date date,
 Agency_id INT,
 Complaint_id INT ,
 Resolution_id INT,
primary key(Unique_Key),
foreign key (Agency_id) references Agency(Agency_id),
foreign key (Complaint_id) references Complaint(Complaint_id),
foreign key (Resolution_id) references Resolution (Resolution_id));


Create table Complaint_address(
 Complaint_id SERIAL,
 Incident_id INT,
 Complaint_Type char(50),
 Borough char(50),
primary key(Incident_id,Complaint_id),
foreign key(Complaint_id) references Complaint(Complaint_id));


Create table Incident_info(
 Incident_id SERIAL,
 Complaint_id INT,
 Submitter_id INT,
 Community_id INT,
 City_id INT,
 Geo_id INT,
 Park_id INT,
 Tansportation_id varchar(50),
 Road_id varchar(50),
primary key(Incident_id),
foreign key(Complaint_id) references Complaint(Complaint_id));


Create table Incident_Location_bySubmitter(
 Submitter_id SERIAL,
 Incident_id INT,
 Location_Type char(50),
 Incident_Address char(50),
 Street_Name char(250),
 Borough char(50),
primary key(Submitter_id),
foreign key(incident_id) references Incident_info(incident_id));


Create table Incident_Location_byCommunity(
 Community_id SERIAL,
 Community_Board	char(30),
 BBL char(50),
 Borough char(50),
primary key(Community_id));


Create table Incident_Location_byBroadInfo(		
 Broad_id SERIAL,
 Address_Type char(50),	
 Landmark char(50),
primary key(Broad_id));


Create table Incident_Location_byCity(					
 City_id SERIAL,
 City char(50),
 Incident_Zip int,
 Cross_Street_1 varchar(50),
 Cross_Sreet_2 varchar(50),
 Intersection_Street_1 varchar(50),	
 Intersection_Street_2 varchar(50),
primary key(City_id));


Create table Incident_Location_byGeographicCordinate(					
 Geo_id SERIAL,
 Location varchar(50),
 Latitude int,
 Longtitude int,
 X_Coordinate int,
 Y_Coordinate int,
primary key(Geo_id));


Create table Incident_Location_byPark(		
 Park_id SERIAL,
 Park_Facility_Name	varchar(20),
 Park_Borough char(20),
primary key(Park_id));


Create table Incident_Location_byTransportation(				
 Transportation_id SERIAL,
 Incident_id INT,
 Vehicle_Type char(20),
 Taxi_Company_Borough char(30),	
 Taxi_Pick_Up_Location char(30),
primary key(Transportation_id,Incident_id));


Create table Incident_Location_byBridgeHwy(					
 BridgeHwy_id SERIAL,
 Incident_id INT,
 Bridge_Highway_Name varchar(50),
 Bridge_Highway_Direction varchar(50),
 Bridge_Highway_Segment varchar(50),
primary key(BridgeHwy_id,Incident_id));
"""

# Execute the statement to create tables
connection.execute(stmt)

#close the connection
#connection.close()

### 3.0 Create a tempeoray table that includes all the data information from the csv file

In [6]:
# CREATE TABLE TEMP
import pandas as pd
df = pd.read_csv('311_Service_Request_from_2015_to_Present.csv')
df.columns = [c.lower() for c in df.columns] 
df.head()

,unique key,created date,closed date,agency,agency name,complaint type,descriptor,location type,incident zip,incident address,...,vehicle type,taxi company borough,taxi pick up location,bridge highway name,bridge highway direction,road ramp,bridge highway segment,latitude,longitude,location
0,29614410,1/1/15 0:00,1/6/15 0:00,HPD,Department of Housing Preservation and Develop...,HEAT/HOT WATER,ENTIRE BUILDING,RESIDENTIAL BUILDING,10470,660 NEREID AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.898995,-73.855719,"(40.898994888191034, -73.85571871543965)"
1,29608104,1/1/15 0:00,1/8/15 0:00,HPD,Department of Housing Preservation and Develop...,HEAT/HOT WATER,ENTIRE BUILDING,RESIDENTIAL BUILDING,11212,1803 PITKIN AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.670334,-73.906425,"(40.670333991079154, -73.9064253399482)"
2,29608861,1/1/15 0:00,1/4/15 0:00,HPD,Department of Housing Preservation and Develop...,HEAT/HOT WATER,ENTIRE BUILDING,RESIDENTIAL BUILDING,11221,558 LEXINGTON AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.689168,-73.937878,"(40.6891679550618, -73.9378781329754)"
3,29608914,1/1/15 0:00,1/5/15 0:00,HPD,Department of Housing Preservation and Develop...,HEAT/HOT WATER,ENTIRE BUILDING,RESIDENTIAL BUILDING,10468,2683 MORRIS AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.867598,-73.895883,"(40.86759767804488, -73.89588323198846)"
4,29608966,1/1/15 0:00,1/3/15 0:00,HPD,Department of Housing Preservation and Develop...,HEAT/HOT WATER,ENTIRE BUILDING,RESIDENTIAL BUILDING,11209,9511 SHORE ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.616370,-74.038267,"(40.61637026983262, -74.03826694457253)"

### 3.1 Transform columns into appropriate name

In [19]:
df.columns=df.columns.str.replace(" ", "_")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1652 entries, 0 to 1651
Data columns (total 41 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   unique_key                      1652 non-null   int64
 1   created_date                    1652 non-null   object
 2   closed_date                     1647 non-null   object
 3   agency                          1652 non-null   object
 4   agency_name                     1652 non-null   object
 5   complaint_type                  1652 non-null   object
 6   descriptor                      1652 non-null   object
 7   location_type                   1652 non-null   object
 8   incident_zip                    1652 non-null   int64
 9   incident_address                1652 non-null   object
 10  street_name                     1652 non-null   object
 11  cross_street_1                  1648 non-null   object
 12  cross_street_2                  1647 non-null   object
 13  intersection_street_1           0 non-null      float64
 14  intersection_street_2           0 non-null      float64
 15  address_type                    1652 non-null   object
 16  city                            1652 non-null   object
 17  landmark                        0 non-null      float64
 18  x                               0 non-null      float64
 19  status                          1652 non-null   object
 20  due_date                        16 non-null     object
 21  resolution_description          1652 non-null   object
 22  resolution_action_updated_date  1652 non-null   object
 23  community_board                 1652 non-null   object
 24  bbl                             1641 non-null   float64
 25  borough                         1652 non-null   object
 26  x_coordinate_(state_plane)      1652 non-null   object
 27  y_coordinate_(state_plane)      1652 non-null   object
 28  open_data_channel_type          1652 non-null   object
 29  park_facility_name              1652 non-null   object
 30  park_borough                    1652 non-null   object
 31  vehicle_type                    0 non-null      float64
 32  taxi_company_borough            0 non-null      float64
 33  taxi_pick_up_location           0 non-null      float64
 34  bridge_highway_name             0 non-null      float64
 35  bridge_highway_direction        0 non-null      float64
 36  road_ramp                       0 non-null      float64
 37  bridge_highway_segment          0 non-null      float64
 38  latitude                        1652 non-null   float64
 39  longitude                       1652 non-null   float64
 40  location                        1652 non-null   object
dtypes: float64(14), int64(2), object(25)
memory usage: 529.3+ KB

### 3.2 Transforming the dataframe as a view into Postgres

In [31]:
# CREATE TABLE TEMP into the database
df.to_sql("table_temp", engine)

In [33]:
#Double check the tables we have in the database
inspector = inspect(engine)
inspector.get_table_names()

['complaint',
 'agency_complaint',
 'resolution',
 'agency',
 'service_request',
 'complaint_address',
 'incident_info',
 'incident_location_bysubmitter',
 'incident_location_bycommunity',
 'incident_location_bybroadinfo',
 'incident_location_bycity',
 'incident_location_bygeographiccordinate',
 'incident_location_bypark',
 'incident_location_bytransportation',
 'incident_location_bybridgehwy',
 'table_temp']

In [34]:
# For one of the table, get a list of column names and types
columns = inspector.get_columns('complaint')
for c in columns:
    print(c['name'], c["type"])
    
# NOTES :
# Incident_Location_byTransportation all is null
# Incident_Location_byBridgeHwy all is null

complaint_id INTEGER
complaint_type CHAR(20)
descriptor CHAR(50)
status CHAR(20)

### 4. Insert data into the 15 tables in the Postgres database 
1. Agency table

In [49]:
# Pass the SQL statements that insert data
stmtInsertAgency = """

INSERT INTO Agency (Agency_type,Agency_name)
SELECT DISTINCT 
 trim(Agency), trim(agency_name)
FROM table_temp


"""

# Execute the statement to create tables
connection.execute(stmtInsertAgency)

2. Complaint Table
3. Incident_Location_byCommunity table

In [50]:
# Pass the SQL statements that insert data
stmtInsert = """

INSERT INTO Complaint (Complaint_Type,Descriptor,Status)
SELECT DISTINCT 
 trim(Complaint_Type), trim(Descriptor), trim(Status)
FROM table_temp;

INSERT INTO Incident_Location_byCommunity (Community_Board,BBL,Borough)
SELECT DISTINCT 
 trim(Community_Board), BBL, trim(Borough)
FROM table_temp

"""

# Execute the statement to create tables
connection.execute(stmtInsert)

5. Incident_Location_byBroadInfo

In [51]:
# Pass the SQL statements that insert data
stmtInsert = """

INSERT INTO Incident_Location_byBroadInfo (Address_Type,Landmark)
SELECT DISTINCT 
 Address_Type, Landmark
FROM table_temp


"""

# Execute the statement to create tables
connection.execute(stmtInsert)

In [ ]:
# Pass the SQL statements that insert data
stmtInsert = """

INSERT INTO Incident_Location_byCity (City, Incident_Zip, Cross_Street_1, Cross_Street_2, Intersection_Street_1, Intersection_Street_2 )
SELECT DISTINCT 
 City, Incident_Zip, Cross_Street_1, Cross_Street_2, Intersection_Street_1, Intersection_Street_2  
FROM table_temp

"""

# Execute the statement to create tables
connection.execute(stmtInsert)

6. Incident_Loacation_byPark

In [53]:
# Pass the SQL statements that insert data
stmtInsert = """

INSERT INTO Incident_Location_byPark (Park_Facility_Name, Park_Borough)
SELECT DISTINCT 
 park_facility_name, Park_Borough
FROM table_temp

"""

# Execute the statement to create tables
connection.execute(stmtInsert)

7. Service_Request

In [54]:
# Pass the SQL statements that insert data
stmtInsert = """

INSERT INTO Service_Request (Unique_Key, Open_data_channel_type,Created_date,Closed_date)
SELECT DISTINCT
 Unique_Key,
 Open_data_channel_type,
 CAST(Created_date AS DATE) AS Created_date,
 CAST(Closed_date AS DATE) AS Closed_date
FROM table_temp t
"""

# Execute the statement to create tables
connection.execute(stmtInsert)


# Update the table
stmtInsert = """


UPDATE Service_Request s
SET Agency_id = subquery.Agency_id
FROM (SELECT a.Agency_id, t.Unique_Key  FROM agency a
LEFT JOIN table_temp t ON a.agency_name = t.agency_name) AS subquery
WHERE CAST(s.Unique_Key AS bigint) = CAST(subquery.Unique_Key AS bigint);

UPDATE Service_Request s
SET Complaint_id = subquery.Complaint_id
FROM (SELECT a.Complaint_id, t.Unique_Key  FROM table_temp t 
LEFT JOIN complaint a ON a.descriptor = t.descriptor and a.complaint_type = t.complaint_type) AS subquery
WHERE CAST(s.Unique_Key AS bigint) = CAST(subquery.Unique_Key AS bigint);

UPDATE Service_Request s
SET resolution_id = subquery.resolution_id
FROM (SELECT r.resolution_id, t.Unique_Key  FROM table_temp t 
		INNER JOIN resolution r ON r.resolution_description = t.resolution_description 
	  	and cast(r.resolution_action_updated_date as date) = cast(t.resolution_action_updated_date as date)) AS subquery
WHERE CAST(s.Unique_Key AS bigint) = CAST(subquery.Unique_Key AS bigint);

"""

# Execute the statement to create tables
connection.execute(stmtInsert)

8. Incident_Location_bySubmitter

In [56]:
# Pass the SQL statements that insert data
stmtInsert = """

INSERT INTO Incident_Location_bySubmitter(Location_Type,Incident_Address,Street_Name,Borough)
SELECT DISTINCT 
 Location_Type,Incident_Address,Street_Name,Borough
FROM table_temp t



"""

# Execute the statement to create tables
connection.execute(stmtInsert)

9.Incident_info

In [57]:
# Pass the SQL statements that insert data
stmtInsert = """

INSERT INTO Incident_info(Complaint_id)
SELECT DISTINCT 
 cmp.Complaint_id
FROM complaint cmp
"""

# Execute the statement to create tables
connection.execute(stmtInsert)



# Update the SQL statements that insert data
stmtInsert = """

UPDATE Incident_info i
SET Community_id = subquery.Community_id
FROM (select distinct i.Community_id, c.complaint_id
		from Incident_Location_byCommunity i
		inner join table_temp t on t.community_board = i.community_board
		inner join complaint c on c.complaint_type = t.complaint_type) AS subquery
WHERE i.complaint_id = subquery.complaint_id ;

UPDATE Incident_info i
SET city_id = subquery.city_id
FROM (select distinct i.city_id, c.complaint_id
		from Incident_Location_bycity i
		inner join table_temp t on t.city = i.city
		inner join complaint c on c.complaint_type = t.complaint_type) AS subquery
WHERE i.complaint_id = subquery.complaint_id ;

UPDATE Incident_info i
SET geo_id = subquery.geo_id
FROM (select distinct i.geo_id, c.complaint_id
		from Incident_Location_byGeographicCordinate i
		inner join table_temp t on t.location = i.location
		inner join complaint c on c.complaint_type = t.complaint_type) AS subquery
WHERE i.complaint_id = subquery.complaint_id ;

UPDATE Incident_info i
SET park_id = subquery.park_id
FROM (select distinct i.park_id, c.complaint_id
		from Incident_Location_byPark i
		inner join table_temp t on t.park_borough = i.park_borough
		inner join complaint c on c.complaint_type = t.complaint_type) AS subquery
WHERE i.complaint_id = subquery.complaint_id ;


UPDATE Incident_info i
SET submitter_id = subquery.submitter_id
FROM (select distinct i.submitter_id, c.complaint_id
		from Incident_Location_bySubmitter i
		inner join table_temp t on t.incident_address = i.incident_address
		inner join complaint c on c.complaint_type = t.complaint_type) AS subquery
WHERE i.complaint_id = subquery.complaint_id ;

"""

# Execute the statement to create tables
connection.execute(stmtInsert)

*Note: since the other 6 tables did not have the particular information listed, we would not insert any data into those tables. However, we will keep the table in case for future update*

### 5. disconnect the database when we are done with the data insertion

In [60]:
# Import necessary packages
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

# Pass the connection string to a variable, conn_url
conn_url = 'postgresql://postgres:123@localhost:5432/NYC311'

# Create an engine that connects to PostgreSQL server
engine = create_engine(conn_url)

# Establish a connection
connection = engine.connect()

# Pass the SQL statements that create all views
stmt = """
            drop table agency_complaint;
            drop table complaint_address;
            drop table incident_location_bysubmitter;
            drop table incident_location_bycommunity;
            drop table incident_location_bybroadinfo;
            drop table incident_location_bycity;
            drop table incident_location_bygeographiccordinate;
            drop table incident_location_bypark;
            drop table incident_location_bytransportation;
            drop table incident_location_bybridgehwy;
            drop table incident_info; 
            drop table service_request;
            drop table agency;
            drop table resolution;
            drop table complaint;
            drop table table_temp;

        """

# Execute the statement to create tables
connection.execute(stmt)

#close the connection
connection.close()

Now we have successfully imported the data from the csv file into the Postgres Database