In [ ]:
#!pip install psycopg2

### 1. Create an engine that connects to PostgreSQL server

In [1]:
# Import necessary packages
import numpy as np
import pandas as pd
from sqlalchemy import create_engine, inspect

# Pass the connection string to a variable, conn_url
conn_url = 'postgresql://postgres:123@localhost/NYC311'

# Create an engine that connects to PostgreSQL server
engine = create_engine(conn_url)

# Establish a connection
connection = engine.connect()

### 2. Create 15 necessary tables to organize data

In [2]:

stmt = """

Create table Agency(
 Agency_id varchar(50),
 Agency_name char(50),
primary key(Agency_id)
);

Create table Complaint(
 Complaint_id varchar(50),
 Complaint_Type char(50),
 Descriptor char(50),
 Status char(20),
primary key(Complaint_id)
);

Create table Agency_Complaint(
 Agency_id varchar(50),
 Complaint_id varchar(50),
 Agency_Name char(50),
 Complaint_Type char(50),
primary key(Agency_id,Complaint_id),
foreign key(Complaint_id) references Complaint(Complaint_id));

Create table Resolution(
 Resolution_id varchar(50),
 Resolution_Description char(500),
 ## due date date(), ##
primary key(Resolution_id);

Create table Service_Request(
 Unique_Key varchar(50),
 Open_data_channel_type char(20),
 Created_date date,
 Closed_date date,
 Agency_id varchar(50),
 Complaint_id varchar(50) ,
 Resolution_id varchar(50),
primary key(Unique_Key),
foreign key (Agency_id) references Agency(Agency_id),
foreign key (Complaint_id) references Complaint(Complaint_id),
foreign key (Resolution_id) references Resolution (Resolution_id));


Create table Complaint_address(
 Complaint_id varchar(50),
 Incident_id varchar(50),
 Complaint_Type char(50),
 Borough char(50),
primary key(Incident_id,Complaint_id),
foreign key(Complaint_id) references Complaint(Complaint_id));

Create table Incident_info(
 Incident_id varchar(50),
 Complaint_id varchar(50),
 Submitter_id varchar(50),
 Community_id varchar(50),
 City_id varchar(50),
 Geo_id varchar(50),
 Park_id varchar(50),
 Transportation_id varchar(50),
primary key(Incident_id),
foreign key(Complaint_id) references Complaint(Complaint_id));


Create table Incident_Location_bySubmitter(
 Submitter_id int,
 incident_id varchar(50),
 Location_Type char(20),
 Incident_Address char(50),
 Street_Name char(30),
 Borough char(50),
primary key(Submitter_id),
foreign key(incident_id) references Incident_info(incident_id));


Create table Incident_Location_byCommunity(
 Community_id varchar(50),
 Community_Board char(30),
 BBL char(50),
 Borough char(50),
primary key(Community_id));


Create table Incident_Location_byBroadInfo(
 Broad_id	int,
 Address_Type char(50),	
 Landmark char(50),
primary key(Broad_id));

Create table Incident_Location_byCity(
 City_id int,
 City char(50),
 Incident_Zip int,
primary key(City_id));

Create table Incident_Location_byGeographicCordinate(
 Geo_id int,
 Location varchar(50),
 Latitude numeric (25,20),
 Longitude numeric (25,20),
 x_coordinate_state_plane numeric (25,20),
 y_coordinate_state_plane numeric (25,20),
primary key(Geo_id));


Create table Incident_Location_byPark(
 Park_id int,
 Facility_Type char(20),
 Park_Facility_Name	varchar(20),
 Park_Borough char(20),
primary key(Park_id));

Create table Incident_Location_byTransportation(
 Transportation_id varchar(50),
 Incident_id varchar(50),
 Facility_Type char(20),
 Vehicle_Type char(20),
 Taxi_Company_Borough char(30),	
 Taxi_Pick_Up_Location char(30),
primary key(Transportation_id,Incident_id));

Create table Incident_Location_byBridgeHwy(
 BridgeHwy_id varchar(50),
 Incident_id varchar(50),
 Bridge_Highway_Name varchar(50),
 Bridge_Highway_Direction varchar(50),
 Bridge_Highway_Segment varchar(50),
primary key(BridgeHwy_id,Incident_id));

"""

# Execute the statement to create tables
connection.execute(stmt)

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near "##"
LINE 28:  ## due date date(), ##
          ^

[SQL:

Create table Agency(
 Agency_id varchar(50),
 Agency_name char(50),
primary key(Agency_id)
);

Create table Complaint(
 Complaint_id varchar(50),
 Complaint_Type char(50),
 Descriptor char(50),
 Status char(20),
primary key(Complaint_id)
);

Create table Agency_Complaint(
 Agency_id varchar(50),
 Complaint_id varchar(50),
 Agency_Name char(50),
 Complaint_Type char(50),
primary key(Agency_id,Complaint_id),
foreign key(Complaint_id) references Complaint(Complaint_id));

Create table Resolution(
 Resolution_id varchar(50),
 Resolution_Description char(500),
 ## due date date(), ##
primary key(Resolution_id);

Create table Service_Request(
 Unique_Key varchar(50),
 Open_data_channel_type char(20),
 Created_date date,
 Closed_date date,
 Agency_id varchar(50),
 Complaint_id varchar(50) ,
 Resolution_id varchar(50),
primary key(Unique_Key),
foreign key (Agency_id) references Agency(Agency_id),
foreign key (Complaint_id) references Complaint(Complaint_id),
foreign key (Resolution_id) references Resolution (Resolution_id));


Create table Complaint_address(
 Complaint_id varchar(50),
 Incident_id varchar(50),
 Complaint_Type char(50),
 Borough char(50),
primary key(Incident_id,Complaint_id),
foreign key(Complaint_id) references Complaint(Complaint_id));

Create table Incident_info(
 Incident_id varchar(50),
 Complaint_id varchar(50),
 Submitter_id varchar(50),
 Community_id varchar(50),
 City_id varchar(50),
 Geo_id varchar(50),
 Park_id varchar(50),
 Transportation_id varchar(50),
primary key(Incident_id),
foreign key(Complaint_id) references Complaint(Complaint_id));


Create table Incident_Location_bySubmitter(
 Submitter_id int,
 incident_id varchar(50),
 Location_Type char(20),
 Incident_Address char(50),
 Street_Name char(30),
 Borough char(50),
primary key(Submitter_id),
foreign key(incident_id) references Incident_info(incident_id));


Create table Incident_Location_byCommunity(
 Community_id varchar(50),
 Community_Board char(30),
 BBL char(50),
 Borough char(50),
primary key(Community_id));


Create table Incident_Location_byBroadInfo(
 Broad_id	int,
 Address_Type char(50),
 Landmark char(50),
 Facility_Type char(20),
primary key(Broad_id));

Create table Incident_Location_byCity(
 City_id int,
 City char(50),
 Incident_Zip int,
primary key(City_id));

Create table Incident_Location_byGeographicCordinate(
 Geo_id int,
 Location varchar(50),
 Latitude numeric (25,20),
 Longitude numeric (25,20),
 x_coordinate_state_plane numeric (25,20),
 y_coordinate_state_plane numeric (25,20),
primary key(Geo_id));


Create table Incident_Location_byPark(
 Park_id int,
 Facility_Type char(20),
 Park_Facility_Name	varchar(20),
 Park_Borough char(20),
primary key(Park_id));

Create table Incident_Location_byTransportation(
 Transportation_id varchar(50),
 Incident_id varchar(50),
 Facility_Type char(20),
 Vehicle_Type char(20),
 Taxi_Company_Borough char(30),
 Taxi_Pick_Up_Location char(30),
primary key(Transportation_id,Incident_id));

Create table Incident_Location_byBridgeHwy(
 BridgeHwy_id varchar(50),
 Incident_id varchar(50),
 Bridge_Highway_Name varchar(50),
 Bridge_Highway_Direction varchar(50),
 Bridge_Highway_Segment varchar(50),
primary key(BridgeHwy_id,Incident_id));

]
(Background on this error at: https://sqlalche.me/e/14/f405)

### 3.0 Create a tempeoray table that includes all the data information from the csv file

In [3]:
# CREATE TABLE TEMP
import pandas as pd
df = pd.read_csv('311_Service_Request_from_2015_to_Present.csv')
df.columns = [c.lower() for c in df.columns] 
df.head()

,unique key,created date,closed date,agency,agency name,complaint type,descriptor,location type,incident zip,incident address,...,vehicle type,taxi company borough,taxi pick up location,bridge highway name,bridge highway direction,road ramp,bridge highway segment,latitude,longitude,location
0,29614410,1/1/15 0:00,1/6/15 0:00,HPD,Department of Housing Preservation and Develop...,HEAT/HOT WATER,ENTIRE BUILDING,RESIDENTIAL BUILDING,10470,660 NEREID AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.898995,-73.855719,"(40.898994888191034, -73.85571871543965)"
1,29608104,1/1/15 0:00,1/8/15 0:00,HPD,Department of Housing Preservation and Develop...,HEAT/HOT WATER,ENTIRE BUILDING,RESIDENTIAL BUILDING,11212,1803 PITKIN AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.670334,-73.906425,"(40.670333991079154, -73.9064253399482)"
2,29608861,1/1/15 0:00,1/4/15 0:00,HPD,Department of Housing Preservation and Develop...,HEAT/HOT WATER,ENTIRE BUILDING,RESIDENTIAL BUILDING,11221,558 LEXINGTON AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.689168,-73.937878,"(40.6891679550618, -73.9378781329754)"
3,29608914,1/1/15 0:00,1/5/15 0:00,HPD,Department of Housing Preservation and Develop...,HEAT/HOT WATER,ENTIRE BUILDING,RESIDENTIAL BUILDING,10468,2683 MORRIS AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.867598,-73.895883,"(40.86759767804488, -73.89588323198846)"
4,29608966,1/1/15 0:00,1/3/15 0:00,HPD,Department of Housing Preservation and Develop...,HEAT/HOT WATER,ENTIRE BUILDING,RESIDENTIAL BUILDING,11209,9511 SHORE ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.616370,-74.038267,"(40.61637026983262, -74.03826694457253)"

### 3.1 Transform columns into appropriate name

In [4]:
df.columns=df.columns.str.replace(" ", "_")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1652 entries, 0 to 1651
Data columns (total 41 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   unique_key                      1652 non-null   int64
 1   created_date                    1652 non-null   object
 2   closed_date                     1647 non-null   object
 3   agency                          1652 non-null   object
 4   agency_name                     1652 non-null   object
 5   complaint_type                  1652 non-null   object
 6   descriptor                      1652 non-null   object
 7   location_type                   1652 non-null   object
 8   incident_zip                    1652 non-null   int64
 9   incident_address                1652 non-null   object
 10  street_name                     1652 non-null   object
 11  cross_street_1                  1648 non-null   object
 12  cross_street_2                  1647 non-null   object
 13  intersection_street_1           0 non-null      float64
 14  intersection_street_2           0 non-null      float64
 15  address_type                    1652 non-null   object
 16  city                            1652 non-null   object
 17  landmark                        0 non-null      float64
 18  x                               0 non-null      float64
 19  status                          1652 non-null   object
 20  due_date                        16 non-null     object
 21  resolution_description          1652 non-null   object
 22  resolution_action_updated_date  1652 non-null   object
 23  community_board                 1652 non-null   object
 24  bbl                             1641 non-null   float64
 25  borough                         1652 non-null   object
 26  x_coordinate_(state_plane)      1652 non-null   object
 27  y_coordinate_(state_plane)      1652 non-null   object
 28  open_data_channel_type          1652 non-null   object
 29  park_facility_name              1652 non-null   object
 30  park_borough                    1652 non-null   object
 31  vehicle_type                    0 non-null      float64
 32  taxi_company_borough            0 non-null      float64
 33  taxi_pick_up_location           0 non-null      float64
 34  bridge_highway_name             0 non-null      float64
 35  bridge_highway_direction        0 non-null      float64
 36  road_ramp                       0 non-null      float64
 37  bridge_highway_segment          0 non-null      float64
 38  latitude                        1652 non-null   float64
 39  longitude                       1652 non-null   float64
 40  location                        1652 non-null   object
dtypes: float64(14), int64(2), object(25)
memory usage: 529.3+ KB

### 4. Insert data into the 15 tables in the Postgres database 
1.Agency table

In [5]:
# Create table Agency
temp_agency_df = pd.DataFrame(df.agency_name.unique(), columns=['agency_name'])
temp_agency_df.insert(0, 'agency_id', range(1, 1 + len(temp_agency_df)))

temp_agency_df.to_sql(name='agency', con=engine, if_exists='append', index=False)

2.Complaint Table <br>
3.Agency_Complaint

In [6]:
# Create table Complaint
temp_complaint_df = pd.DataFrame(df.complaint_type.unique(), columns=['complaint_type'])
temp_complaint_df.insert(0, 'complaint_id', range(1, 1 + len(temp_complaint_df)))

complaint_id_list = [temp_complaint_df.complaint_id[temp_complaint_df.complaint_type == i].values[0] for i in df.complaint_type]
df.insert(0, 'complaint_id', complaint_id_list)

df[['complaint_id', 'complaint_type', 'descriptor']]. \
    drop_duplicates(subset = ["complaint_id"]).to_sql(name='complaint', con=engine, if_exists='append', index=False)


# Create table Agency_Complaint
agency_id_list = [temp_agency_df.agency_id[temp_agency_df.agency_name == i].values[0] for i in df.agency_name]
df.insert(0, 'agency_id', agency_id_list)

df[['agency_id','complaint_id', 'agency_name','complaint_type']]. \
    drop_duplicates().to_sql(name='agency_complaint', con=engine, if_exists='append', index=False)

4.Resolution table

In [7]:
# Create table resolution
df = df.fillna(value = "NA")
temp_resolution_df = pd.DataFrame(df.resolution_description.unique(), columns=['resolution_description'])
temp_resolution_df.insert(0, 'resolution_id', range(1, 1 + len(temp_resolution_df)))
temp_resolution_df = temp_resolution_df.fillna(value = 'NA')

resolution_id_list = [temp_resolution_df.resolution_id[temp_resolution_df.resolution_description == i].values[0] for i in df.resolution_description]
df.insert(0, 'resolution_id', resolution_id_list)

df[['resolution_id', 'resolution_description']]. \
    drop_duplicates().to_sql(name='resolution', con=engine, if_exists='append', index=False)

5.Service_Request

In [8]:
# Create table Service_Request
Service_Request_df = df[['unique_key','open_data_channel_type','created_date','closed_date','agency_id','complaint_id', 'resolution_id']]
Service_Request_df.to_sql(name='service_request', con=engine, if_exists='append', index=False)

6.Complaint_address

In [9]:
# Create table Complaint_address
df.insert(0, 'incident_id', range(1, 1 + len(df)))

complaint_address_df = df[['complaint_id','incident_id','complaint_type','borough']]
complaint_address_df.to_sql(name='complaint_address', con=engine, if_exists='append', index=False)

7.Incident_Location_bySubmitter: no data available in current dataset, but the variables in the table are showcased in  the data dictionary/metadata
- we use table Incident_info

In [28]:
# Create table Incident_info
incident_info_df = df[['complaint_id','incident_id','community_id','city_id','geo_id','park_id','transportation_id']]
incident_info_df.to_sql(name='incident_info', con=engine, if_exists='append', index=False)

8.Incident_Location_byCommunity

In [11]:
# Create table Incident_Location_byCommunity
temp_ilc_df = pd.DataFrame(df.community_board.unique(), columns=['community_board'])
temp_ilc_df.insert(0, 'community_id', range(1, 1 + len(temp_ilc_df)))

community_id_list = [temp_ilc_df.community_id[temp_ilc_df.community_board == i].values[0] for i in df.community_board]
df.insert(0, 'community_id', community_id_list)

df[['community_id', 'community_board', 'bbl','borough']]. \
    drop_duplicates(subset = ["community_id"]).to_sql(name='incident_location_bycommunity', con=engine, if_exists='append', index=False)

9. Incident_Location_byBroadInfo

In [21]:
# Create table Incident_Location_byBroadInfo
temp_ilb_df = pd.DataFrame(df.address_type.unique(), columns=['address_type'])
temp_ilb_df.insert(0, 'broad_id', range(1, 1 + len(temp_ilb_df)))

address_id_list = [temp_ilb_df.broad_id[temp_ilb_df.address_type == i].values[0] for i in df.address_type]
df.insert(0, 'broad_id', address_id_list)

# since facility_type did not exist in the current dataset, but it was showcased in the dictionary. 
# therefore, we will add this column with no data
df['facility_type']= np.nan
df[['broad_id', 'address_type', 'landmark','facility_type']]. \
    drop_duplicates(subset = ["broad_id"]).to_sql(name='incident_location_bybroadinfo', con=engine, if_exists='append', index=False)

11.Incident_Location_byCity

In [22]:
# Create table Incident_Location_byCity
temp_ilcity_df = pd.DataFrame(df.city.unique(), columns=['city'])
temp_ilcity_df.insert(0, 'city_id', range(1, 1 + len(temp_ilcity_df)))

city_id_list = [temp_ilcity_df.city_id[temp_ilcity_df.city == i].values[0] for i in df.city]
df.insert(0, 'city_id', city_id_list)

df[['city_id', 'city', 'incident_zip']]. \
    drop_duplicates(subset = ["city_id"]).to_sql(name='incident_location_bycity', con=engine, if_exists='append', index=False)

12.Incident_Location_byGeographicCordinate

In [24]:
# Create table Incident_Location_byGeographicCordinate
df['location'] = df['location'].astype(str)

temp_ilg_df = pd.DataFrame(df.location.unique(), columns=['location'])
temp_ilg_df.insert(0, 'geo_id', range(1, 1 + len(temp_ilg_df)))

geo_id_list = [temp_ilg_df.geo_id[temp_ilg_df.location == i].values[0] for i in df.location]
df.insert(0, 'geo_id', geo_id_list)

df[['geo_id', 'location', 'latitude','longitude','x_coordinate_(state_plane)','y_coordinate_(state_plane)']]. \
    drop_duplicates(subset = ["geo_id"]).to_sql(name='incident_location_bygeographiccordinate', con=engine, if_exists='append', index=False)

13.Incident_Location_byPark

In [25]:
# Create table Incident_Location_byPark
temp_ilp_df = pd.DataFrame(df.park_facility_name.unique(), columns=['park_facility_name'])
temp_ilp_df.insert(0, 'park_id', range(1, 1 + len(temp_ilp_df)))

park_id_list = [temp_ilp_df.park_id[temp_ilp_df.park_facility_name == i].values[0] for i in df.park_facility_name]
df.insert(0, 'park_id', park_id_list)

df[['park_id', 'facility_type', 'park_facility_name','park_borough']]. \
    drop_duplicates(subset = ["park_id"]).to_sql(name='incident_location_bypark', con=engine, if_exists='append', index=False)

14.Incident_Location_byTransportation

In [26]:
# Create table Incident_Location_byTransportation
temp_ilt_df = pd.DataFrame(df.vehicle_type.unique(), columns=['vehicle_type'])
temp_ilt_df.insert(0, 'transportation_id', range(1, 1 + len(temp_ilt_df)))

transportation_id_list = [temp_ilt_df.transportation_id[temp_ilt_df.vehicle_type == i].values[0] for i in df.vehicle_type]
df.insert(0, 'transportation_id', transportation_id_list)

df[['transportation_id', 'incident_id','facility_type', 'vehicle_type','taxi_company_borough','taxi_pick_up_location']]. \
    drop_duplicates(subset = ["transportation_id"]).to_sql(name='incident_location_bytransportation', con=engine, if_exists='append', index=False)

15.Incident_Location_byBridgeHwy

In [27]:
# Create table Incident_Location_byBridgeHwy
temp_ilbridge_df = pd.DataFrame(df.bridge_highway_name.unique(), columns=['bridge_highway_name'])
temp_ilbridge_df.insert(0, 'bridgehwy_id', range(1, 1 + len(temp_ilbridge_df)))

bridgehwy_id_list = [temp_ilbridge_df.bridgehwy_id[temp_ilbridge_df.bridge_highway_name == i].values[0] for i in df.bridge_highway_name]
df.insert(0, 'bridgehwy_id', bridgehwy_id_list)

df[['bridgehwy_id', 'incident_id','bridge_highway_name', 'bridge_highway_direction','bridge_highway_segment']]. \
    drop_duplicates(subset = ["bridgehwy_id"]).to_sql(name='incident_location_bybridgehwy', con=engine, if_exists='append', index=False)


- Now we have successfully imported the data from the csv file into the Postgres Database

### 5. since tableau public does not support connection with PostgreSQL, we need to extract the 15 tables and save it to a xml file

In [30]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

# Create an engine instance
engine = create_engine(conn_url)

# Establish a connection
connection = engine.connect()

# Read data from PostgreSQL database table and load into a DataFrame instance
agency = pd.read_sql("select * from \"agency\"",connection);
agency_complaint = pd.read_sql("select * from \"agency_complaint\"",connection);
complaint = pd.read_sql("select * from \"complaint\"",connection);
complaint_address = pd.read_sql("select * from \"complaint_address\"",connection);
incident_info = pd.read_sql("select * from \"incident_info\"",connection);
incident_location_bybridgehwy = pd.read_sql("select * from \"incident_location_bybridgehwy\"",connection);
incident_location_bybroadinfo = pd.read_sql("select * from \"incident_location_bybroadinfo\"",connection);
incident_location_bycity = pd.read_sql("select * from \"incident_location_bycity\"",connection);
incident_location_bycommunity = pd.read_sql("select * from \"incident_location_bycommunity\"",connection);
incident_location_bygeographiccordinate = pd.read_sql("select * from \"incident_location_bygeographiccordinate\"",connection);
incident_location_bypark = pd.read_sql("select * from \"incident_location_bypark\"",connection);
incident_location_bytransportation = pd.read_sql("select * from \"incident_location_bytransportation\"",connection);
resolutin = pd.read_sql("select * from \"resolution\"",connection);
service_request = pd.read_sql("select * from \"service_request\"",connection);

In [35]:
#!pip3 install xlsxwriter

In [34]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('tables.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet.
agency.to_excel(writer, sheet_name='Sheet1')
agency_complaint.to_excel(writer, sheet_name='Sheet2')
complaint.to_excel(writer, sheet_name='Sheet3')
complaint_address.to_excel(writer, sheet_name='Sheet4')
incident_info.to_excel(writer, sheet_name='Sheet5')
incident_location_bybridgehwy.to_excel(writer, sheet_name='Sheet6')
incident_location_bybroadinfo.to_excel(writer, sheet_name='Sheet7')
incident_location_bycity.to_excel(writer, sheet_name='Sheet8')
incident_location_bycommunity.to_excel(writer, sheet_name='Sheet9')
incident_location_bygeographiccordinate.to_excel(writer, sheet_name='Sheet10')
incident_location_bypark.to_excel(writer, sheet_name='Sheet11')
incident_location_bytransportation.to_excel(writer, sheet_name='Sheet12')
resolutin.to_excel(writer, sheet_name='Sheet13')
service_request.to_excel(writer, sheet_name='Sheet14')
# Close the Pandas Excel writer and output the Excel file.
writer.save()

### 6. disconnect the database when we are done with the data insertion

In [36]:
# Import necessary packages
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

# Pass the connection string to a variable, conn_url
conn_url = 'postgresql://postgres:123@localhost:5432/NYC311'

# Create an engine that connects to PostgreSQL server
engine = create_engine(conn_url)

# Establish a connection
connection = engine.connect()

# Pass the SQL statements that create all views
stmt = """
            drop table agency_complaint;
            drop table complaint_address;
            drop table incident_location_bycommunity;
            drop table incident_location_bybroadinfo;
            drop table incident_location_bycity;
            drop table incident_location_bygeographiccordinate;
            drop table incident_location_bypark;
            drop table incident_location_bytransportation;
            drop table incident_location_bybridgehwy;
            drop table incident_info; 
            drop table service_request;
            drop table agency;
            drop table resolution;
            drop table complaint;

        """

# Execute the statement to create tables
connection.execute(stmt)

#close the connection
connection.close()

### Next Step: use dashboard showcase some trends and results